$rotation-speed: 12s; // Définir la variable SCSS pour la vitesse de rotation par défaut

:root {
    --rotation-speed: #{$rotation-speed}; // Convertir la variable SCSS en une variable CSS personnalisée
}

/* Animations fleurs */

.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.nomination::before,
.nomination::after,
.site-footer ul::after,
.menu-header::before {
    animation: rotation var(--rotation-speed) infinite linear;
}

.menu-nav ul {

    li:nth-child(1),
    li:nth-child(2){
        :after {
            animation: rotation 13s infinite linear;
        }
    }

    li:nth-child(3) {
        :before {
            animation: rotation 13s infinite linear;
        }
    }

    li:nth-child(4) {
        :after {
            animation: scale-rotation 13s infinite linear;
        }
    }
}

/* Pour la rotation des fleurs */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Pour agrandir et faire la rotation des fleurs */

@keyframes scale-rotation {
    from {
        transform: scale(2) rotate(0deg);
    }

    to {
        transform: scale(2) rotate(359deg);
    }
}

/* Animations des sections et titres */

.animation-section,
.animation-title {
    opacity: 0;
}
.animation-title-visible {
    animation: animation-title 1s 1s forwards;
}

.animation-section-visible {
    animation: fadeup-simple 2s both;
}

/* Pour l'animatin des titres */
@keyframes animation-title {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Pour l'animatin des sections */
@keyframes fadeup-simple {
    from {
        transform: translateY(500px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}