.menu-header:before {
    content: url(./assets/images/orchid.png);
    position: absolute;
    left: -4em;
    top: 4em;
}

.menu-nav {
    ul {
        li:nth-child(1) {
            :before {
                content: url(./assets/images/cat1.png);
                position: absolute;
                left: 7em;
                top: 3em;
                animation: flotter 6s 100ms infinite ease-in-out;

                @media all and (max-width: 700px) {
                    content: '';
                }
            }

            :after {
                content: url(./assets/images/Sunflower.png);
                position: absolute;
                right: 5em;
                top: 2em;

                @media all and (max-width: 700px) {
                    content: '';
                }
            }
        }

        li:nth-child(2) {
            :after {
                content: "";
                background-image: url(./assets/images/random_flower.png);
                position: absolute;
                right: -0.7em;
                top: 5em;
                background-size: cover;
                width: 75px;
                height: 75px;

                @media all and (max-width: 700px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        li:nth-child(3) {
            :before {
                content: "";
                background-image: url(./assets/images/flower.png);
                position: absolute;
                left: 6em;
                top: 8em;
                background-size: cover;
                width: 75px;
                height: 75px;

                @media all and (max-width: 700px) {
                    background-image: none;
                }
            }

            :after {
                content: url(./assets/images/cat3.png);
                position: absolute;
                right: 5em;
                top: 8em;
                animation: flotter 7.5s 150ms infinite ease-in-out;

                @media all and (max-width: 700px) {
                    content: '';
                }
            }
        }


        li:nth-child(4) {
            :before {
                content: url(./assets/images/cat2.png);
                position: absolute;
                left: 2em;
                top: 13em;
                animation: flotter 7s 200ms infinite ease-in-out;

                @media all and (max-width: 700px) {
                    content: '';
                }
            }

            :after {
                content: '';
                background-image: url(./assets/images/Hibiscus.png);
                position: absolute;
                right: -5em;
                top: 11em;
                background-size: cover;
                width: 400px;
                height: 400px;

                @media all and (max-width: 700px) {
                    right: -2.5em;
                    top: 13em;
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}


/* Pour flotter les chats */
@keyframes flotter {

    0%,
    100% {
        transform: translate3d(5px, 5px, 0);
    }

    10%,
    30%,
    55%,
    85% {
        transform: translate3d(0, 5px, 0);
    }

    20% {
        transform: translate3d(5px, -4px, 0);
    }

    40% {
        transform: translate3d(-5px, -5px, 0);
    }

    70% {
        transform: translate3d(-6px, 5px, 0);
    }
}