.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-navigation {
        display: grid;
        grid-template-columns: 90% 10%;

        .line {
            height: 2px;
            margin-block: 6px;
            width: 40px;
        }
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
        :hover {
            cursor: pointer;
        }
    }
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.menu-content.open {
    display: block;
    animation: fade-in 0.3s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Styles pour transformer le burger en croix */
.menu-toggle.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .line:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}