/* SwiperJS */

#characters {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    @media all and (max-width: 500px) {
        h3 {
            line-height: 1;
        }
    }
}

.story #characters div {
    flex: none;
}

.swiper {
    width: 100%;

    figure {
        max-height: 460px;

        img {
            max-height: 400px;
            width: auto;
        }
    }
}