.story {
  h2 {
    &::before {
      z-index: auto;
      left: 0em;
      top: 1.8em;
    }

    &::after {
      line-height: 0;
    }
  }

  &__article {
    &::before {
      z-index: auto;
    }
  }

  &__article {
    &::before {
      top: 12em;
    }
    &::after {
      top: 5em;
    }
  }
}